{% extends 'base.html' %}

{% block content %}

    <h2 class="text-center">change password</h2>
    <form method="post" action="{%  url "user:edit-user-password" %}" class="col-md-6 mx-auto">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Change Password">
    </form>

    <div class="text-center mx-auto col-md-2">
        <a href="{% url 'user:forget_password' %}" class="list-group-item list-group-item-action">Forget Password</a>
    </div>
{% endblock %}
