{% extends 'base.html' %}

{% block content %}

    {% if request.user.is_authenticated %}
    <h2 class="text-center">{{ user.first_name.title }} {{ user.last_name.title }}</h2>
    <a href="{% url 'user:user-panel' %}" class="list-group-item list-group-item-action px-3 border-0 ripple" aria-current="true">user panel</a>
    <a href="{% url 'user:edit-user-password' %}" class="list-group-item list-group-item-action px-3 border-0 ripple">change password</a>
    <a href="{% url 'user:edit-user-panel' %}" class="list-group-item list-group-item-action px-3 border-0 ripple">edit user info</a>
        
    {% else %}
    <div>
        <h1>Please login first</h1>
    </div>
    {% endif %}

{% endblock %}