


{% block title %}
جزییات مقاله
{% endblock %}
{% block body %}

<body id="blog-1" class="page">
<main>
  <div class="page-heading text-center">
    <div class="container">
      <h2>{{ article.title }}</h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-9"> <img src="{{ article.image.url }}" alt="blog-single" class="resp-img">
        <h3>{{ article.title }}</h3>
        <div class="author"> <a href="#"> {{ article.writer  }} </a><span>  {{ article.date }}  </span> </div>
            <p>{{ article.text }}</p>
          <div class="about-author">
          <h4>درباره نویسنده</h4>
                 {{ article.writer.avatar }}
                               <img style="padding: 10px" src="{{ image.url}}" alt="Avatar" class="pull-left">
                                
              <p>{{article.writer.talent.all|join:" / "}}</p>

          <a class="teacher-name" href="#"> {{ article.writer }}  </a>
              <p class="abs"> {{ article.writer.about}} </p><div class="clearfix"></div>



        </div>
{#        <h4>نظرات</h4>#}
{#      #}
{#        <h4>ارسال دیدگاه</h4>#}
{#        #}
{#<!--          <div class="container success">-->#}
{#<!--         <form method="post" class="contact">-->#}
{#<!--        {% csrf_token %}-->#}
{#<!--      <div class="row">-->#}
{#<!--        <div class="col-sm-4">-->#}
{#<!--            {{ form.full_name.label_tag }}-->#}
{#<!--            {{ form.full_name }}-->#}
{#<!--            {{ form.full_name.errors }}-->#}
{#<!--        </div>-->#}
{#<!--        <div class="col-sm-4">-->#}
{#<!--            {{ form.email.label_tag }}-->#}
{#<!--            {{ form.email }}-->#}
{#<!--            {{ form.email.errors }}-->#}
{#<!--        </div>-->#}
{#<!--      </div>-->#}
{#<!--        <div class="col-md-8 pull-left ">-->#}
{#<!--            {{ form.message.label_tag }}-->#}
{#<!--            {{ form.message }}-->#}
{#<!--            {{ form.message.errors }}-->#}
{#<!--      </div>-->#}
{#<!--      <div class="row clearfix">-->#}
{#<!--        <div class="col-md-12">-->#}
{##}
{#<!--            <button type="submit" name="submit" class="greybutton">ارسال</button>-->#}
{#<!--        </div>-->#}
{#<!--      </div></form>-->#}
{#<!--        </div>-->#}
{#<!--      </div>-->#}
    </form>
      </div>

        <h4>پست های اخیر</h4>
        {% for latest_article in latest_articles %}
        <div class="recent-post clearfix"> {{latest_article.image}}
        <img src="{{ image.url }}" alt="recent" class="pull-left"> 
        <a href="{% url "article:article-detail" latest_article.slug %}">{{ latest_article.title }}</a>
        <div class="author"> <a href="">{{ latest_article.writer }}</a><span>{{ latest_article.date }}</span> </div>
    
    </div>
    {% endfor %}

    <div class="categories">
      <h6>دسته بندی ها</h6>
      <ul>
     {% for category in categories %}
           <li><a href="{% url "article:article-list-by-category" category.title %}">{{ category }} ({{ category.aricle_count }})</a></li>
     {% endfor %}

      </ul>
    
</main>

</body>
{% endblock %}