
{% comment %} {% load render_partial %}
{% load sorl_thumbnail %} {% endcomment %}
{% block title %}
    articles  
{% endblock %}


{% block body %}
    <body id="blog-2" class="page">
    <main>
  <div class="page-heading text-center">
    <div class="container">
      <h2>blog </h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
            {% for articles in article %}
                    <div class="blog-item clearfix"> <div class="blog-item clearfix">
                      
                              <img src="{{ articles.image.url }}" alt="blog-single" class="resp-img">
                        
                    </div>
          <h3>{{ articles.title }}</h3>
          <div class="author">  {{ articles.selected_categories.all|join:" / " }}  </a><br> <span> {{articles.date }} - {{ articles.writer }}   </span> </div>
          <p class="abs"> {{ articles.short_description }} <a href="{% url "article:article-detail"  articles.slug %}" class="pull-right greybutton">more  </a> </div>
            {% endfor %}


        <div class="paginations">

            {% if page_obj.has_previous %}
                <a class="prev" href="?page={{ page_obj.previous_page_number }}"><i class="zmdi zmdi-chevron-right"></i>previpus  </a>
            {% endif %}

           {% for page in paginator.page_range %}
            <a href="?page={{ page }}" class="{% if page_obj.number == page%} active {% endif %} " >{{ page }}</a>
           {% endfor %}


           {% if page_obj.has_next %}
             <a class="next" href="?page={{ page_obj.next_page_number }}">next <i class="zmdi zmdi-chevron-left"></i></a> </div>
           {% endif %}
      </div>
      
        
        <h4>last posts   </h4>
        {% for latest_article in latest_articles %}
        <div class="recent-post clearfix"> {{latest_article.image}}
        <img src="{{ image.url }}" alt="recent" class="pull-left">
        <a href="{% url "article:article-detail" latest_article.slug %}">{{ latest_article.title }}</a>
        <div class="author"> <a href="">{{ latest_article.writer }}</a><span>{{ latest_article.date }}</span> </div>
    {% endfor %}
    </div>
    <div class="categories">
      <h6>  categories </h6>
      <ul>
     {% for category in categories %}
           <li><a href="{% url "article:article-by-category-list" category.title %}">{{ category }} {{ category.aricle_count }}</a></li>
     {% endfor %}

      </ul>
    </div>
      </div>
    </div>
  </div>
</main>
    </body>
{% endblock %}