{% extends 'base.html' %}

{% block content %}
    <h1>Your Articles</h1>
    <ul>
        {% for article in articles %}
        <a href="{% url "article:article-detail"  article.slug %}">
        <li>{{ article.title }}</li>
        <a href="{% url 'article:update-article' article.id %}" onclick="return confirm('Are you sure you want to update  this article?')">update</a>
        <a href="{% url 'article:delete_article' article.id %}" onclick="return confirm('Are you sure you want to delete this article?')">Delete</a>

            {% endfor %}
    </ul>
{% endblock %}
