<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-nav">
            <a class="nav-link active" href="{% url 'home:home_page' %}">Home</a>
            <a class="nav-link active" href="{% url 'article:article-list' %}">Articles</a>
            {% if request.user.is_authenticated %}
            <a class="nav-link active" href="{% url 'user:user-panel' %}">User Panel</a>
            <a class="nav-link active" href="{% url 'user:logout' %}">Logout</a>
            <a class="nav-link active" href="{% url 'article:user-articles' %}">My Articles</a>
                {% if request.user.is_superuser %}
                <a class="nav-link active" href="/admin">Admin Panel</a>
                {% endif %}
            {% else %}
            <a class="nav-link active" href="{% url 'user:register' %}">Sign Up</a>
            <a class="nav-link active" href="{% url 'user:login' %}">Login</a>
            {% endif %}
        </div>
    </div>
</nav>